@charset "UTF-8";
/* Variables du projet */
/* Style général */
/* line 2, ../sass/_general.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  background-color: #dfe1e1;
  font-weight: 500;
  position: relative;
}
/* line 12, ../sass/_general.scss */
body.home h2, body.home h3 {
  font-weight: 400;
  text-transform: uppercase;
}
/* line 17, ../sass/_general.scss */
body.home h1 {
  display: none;
}

/* line 23, ../sass/_general.scss */
.bold {
  font-weight: bold;
}

/* line 27, ../sass/_general.scss */
.red {
  font-weight: 500;
  color: #e14b3c;
}

/* line 32, ../sass/_general.scss */
.white {
  color: #dfe1e1;
}

/* line 36, ../sass/_general.scss */
div.group {
  display: inline-block;
  margin: 50px auto;
}
/* line 40, ../sass/_general.scss */
div.group button {
  border: none;
  background-color: #414141;
  margin: 0;
  padding: 8px 14px;
  color: #dfe1e1;
  font-size: .9rem;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  transition: background-color ease 300ms;
}
/* line 53, ../sass/_general.scss */
div.group button:hover {
  background-color: #e14b3c;
}
/* line 57, ../sass/_general.scss */
div.group button.selected {
  background-color: #e14b3c;
  cursor: default;
}
/* line 62, ../sass/_general.scss */
div.group button:first-child {
  margin-left: 10px;
}
/* line 66, ../sass/_general.scss */
div.group button:last-child {
  margin-right: 10px;
}

/* Liste d'éléments façon Pinterest */
/* line 73, ../sass/_general.scss */
.item-list {
  column-width: 250px;
  column-gap: 20px;
  padding: 0 20px;
  font-size: 0;
}
/* line 79, ../sass/_general.scss */
.item-list .item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}
/* line 86, ../sass/_general.scss */
.item-list .item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: opacity ease 300ms;
}
/* line 98, ../sass/_general.scss */
.item-list .item:hover::after {
  opacity: .5;
}

/* line 1, ../sass/_admin_main.scss */
body.admin {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 6, ../sass/_admin_main.scss */
body.admin header, body.admin footer {
  flex: 1 100%;
}
/* line 10, ../sass/_admin_main.scss */
body.admin aside, body.admin main {
  height: calc(100vh - 110px);
}
/* line 14, ../sass/_admin_main.scss */
body.admin header {
  background-color: #1e1e1e;
  color: #dfe1e1;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  position: relative;
  z-index: 100;
}
/* line 24, ../sass/_admin_main.scss */
body.admin header div.brand {
  height: 60px;
}
/* line 27, ../sass/_admin_main.scss */
body.admin header div.brand > * {
  display: inline-block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
}
/* line 34, ../sass/_admin_main.scss */
body.admin header div.brand h1 {
  margin: 0;
  font-size: 1.8rem;
}
/* line 39, ../sass/_admin_main.scss */
body.admin header div.brand a {
  color: #24ad56;
  text-decoration: none;
}
/* line 43, ../sass/_admin_main.scss */
body.admin header div.brand a i {
  margin-left: 10px;
}
/* line 47, ../sass/_admin_main.scss */
body.admin header div.brand a:hover {
  color: #19793c;
}
/* line 56, ../sass/_admin_main.scss */
body.admin header nav.user:hover ul {
  display: block;
  opacity: 1;
}
/* line 61, ../sass/_admin_main.scss */
body.admin header nav.user:hover span {
  color: #24ad56;
}
/* line 64, ../sass/_admin_main.scss */
body.admin header nav.user:hover span i {
  color: #24ad56;
}
/* line 70, ../sass/_admin_main.scss */
body.admin header nav.user span {
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
/* line 75, ../sass/_admin_main.scss */
body.admin header nav.user span i {
  margin-left: 10px;
}
/* line 80, ../sass/_admin_main.scss */
body.admin header nav.user ul {
  position: absolute;
  top: 60px;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  opacity: 0;
  background-color: #dfe1e1;
  box-shadow: 0 0 5px 5px rgba(65, 65, 65, 0.5);
  transition: opacity ease 300ms;
}
/* line 94, ../sass/_admin_main.scss */
body.admin header nav.user ul li {
  width: auto;
}
/* line 97, ../sass/_admin_main.scss */
body.admin header nav.user ul li a {
  color: #1e1e1e;
  text-decoration: none;
  display: block;
  min-width: 150px;
  padding: 10px 20px;
  text-align: right;
}
/* line 105, ../sass/_admin_main.scss */
body.admin header nav.user ul li a:hover {
  background-color: #c2c2c2;
}
/* line 109, ../sass/_admin_main.scss */
body.admin header nav.user ul li a i {
  margin-left: 10px;
}
/* line 118, ../sass/_admin_main.scss */
body.admin aside {
  background-color: #2e2e2e;
}
/* line 122, ../sass/_admin_main.scss */
body.admin aside nav.main h2 {
  display: none;
}
/* line 126, ../sass/_admin_main.scss */
body.admin aside nav.main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 131, ../sass/_admin_main.scss */
body.admin aside nav.main ul li {
  position: relative;
}
/* line 134, ../sass/_admin_main.scss */
body.admin aside nav.main ul li a {
  color: #dfe1e1;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  width: 200px;
  box-sizing: border-box;
  height: 40px;
  line-height: 20px;
}
/* line 144, ../sass/_admin_main.scss */
body.admin aside nav.main ul li a:hover {
  background-color: #19793c;
}
/* line 148, ../sass/_admin_main.scss */
body.admin aside nav.main ul li a i {
  margin-right: 10px;
}
/* line 154, ../sass/_admin_main.scss */
body.admin aside nav.main ul li:hover ul {
  display: block;
}
/* line 159, ../sass/_admin_main.scss */
body.admin aside nav.main ul li ul {
  position: absolute;
  top: 0;
  left: 200px;
  display: none;
  background-color: #2e2e2e;
}
/* line 171, ../sass/_admin_main.scss */
body.admin main {
  background-color: #dfe1e1;
  flex: 1 80%;
  overflow: scroll;
}
/* line 177, ../sass/_admin_main.scss */
body.admin footer {
  background-color: #24ad56;
}

/* line 2, ../sass/_footer.scss */
body footer {
  background-color: #2e2e2e;
  color: #dfe1e1;
  /* Le formulaire de contact */
  /* Les réseaux sociaux */
  /* Les mentions */
}
/* line 7, ../sass/_footer.scss */
body footer form {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  max-width: 800px;
  margin: auto;
  flex-wrap: wrap;
}
/* line 15, ../sass/_footer.scss */
body footer form h2 {
  flex: 1 100%;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
/* line 22, ../sass/_footer.scss */
body footer form div.column {
  margin: 0 20px;
  flex: 1 calc(50% - 40px);
  box-sizing: border-box;
}
/* line 27, ../sass/_footer.scss */
body footer form div.column div.group {
  margin: 0 0 20px;
  width: 100%;
  overflow: auto;
  padding-bottom: 30px;
  position: relative;
}
/* line 34, ../sass/_footer.scss */
body footer form div.column div.group label {
  display: block;
  margin-bottom: 10px;
}
/* line 39, ../sass/_footer.scss */
body footer form div.column div.group input, body footer form div.column div.group textarea {
  display: block;
  background-color: transparent;
  border: 1px solid #414141;
  color: #dfe1e1;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  width: 100%;
  transition: border-color ease 300ms;
}
/* line 52, ../sass/_footer.scss */
body footer form div.column div.group input:focus, body footer form div.column div.group textarea:focus {
  border-color: #dfe1e1;
}
/* line 57, ../sass/_footer.scss */
body footer form div.column div.group input {
  height: 30px;
}
/* line 61, ../sass/_footer.scss */
body footer form div.column div.group textarea {
  padding: 10px;
  height: 140px;
  max-height: 140px;
  max-width: 100%;
}
/* line 68, ../sass/_footer.scss */
body footer form div.column div.group button {
  display: block;
  background-color: transparent;
  border: 2px solid #24ad56;
  margin: 0;
  padding: 10px 30px;
  font-size: 1rem;
  color: #dfe1e1;
  cursor: pointer;
  transition: background-color ease 300ms;
}
/* line 80, ../sass/_footer.scss */
body footer form div.column div.group button:hover {
  background-color: #24ad56;
}
/* line 85, ../sass/_footer.scss */
body footer form div.column div.group p.form-error {
  color: #e14b3c;
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}
/* line 95, ../sass/_footer.scss */
body footer form div.column div.group:last-child {
  margin-bottom: 0;
}
/* line 103, ../sass/_footer.scss */
body footer section.social {
  background-color: #dfe1e1;
  display: flex;
  justify-content: space-around;
  padding: 30px 20% 60px;
  flex-wrap: wrap;
}
/* line 110, ../sass/_footer.scss */
body footer section.social h2 {
  flex: 1 100%;
  color: #e14b3c;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* line 118, ../sass/_footer.scss */
body footer section.social i {
  color: #c2c2c2;
  transition: color ease 600ms;
}
/* line 123, ../sass/_footer.scss */
body footer section.social i:hover {
  color: #696969;
}
/* line 130, ../sass/_footer.scss */
body footer section.mentions {
  background-color: #1e1e1e;
  padding: 0 20%;
  text-align: center;
  color: #696969;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
}
