@charset "UTF-8";
/* Variables du projet */
/* Style général */
/* line 2, ../sass/_general.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  background-color: #ECEFF1;
  font-weight: 500;
  position: relative;
}

/* line 12, ../sass/_general.scss */
h2, h3 {
  font-weight: 400;
  text-transform: uppercase;
}

/* line 17, ../sass/_general.scss */
h1 {
  display: none;
}

/* line 21, ../sass/_general.scss */
h2 {
  font-size: 1.5rem;
}

/* line 25, ../sass/_general.scss */
.bold {
  font-weight: bold;
}

/* line 29, ../sass/_general.scss */
.orange {
  font-weight: 500;
  color: #FF5722;
}

/* line 34, ../sass/_general.scss */
.white {
  color: white;
  font-weight: 500;
}

/* line 39, ../sass/_general.scss */
span {
  display: inline-block;
}

/* line 43, ../sass/_general.scss */
main {
  background-color: #78909C;
}

/* line 47, ../sass/_general.scss */
.thumbnail {
  border-radius: 5px;
  border: 10px solid white;
}

/* line 1, ../sass/_header.scss */
header {
  background-color: #ECEFF1;
  color: #455A64;
  height: 90vh;
  position: relative;
  /* Le text d'introduction */
  /* La flèche pour descendre */
}
/* line 7, ../sass/_header.scss */
header h2 {
  display: none;
}
/* line 12, ../sass/_header.scss */
header .intro {
  display: table;
  font-weight: 400;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 100%;
}
/* line 19, ../sass/_header.scss */
header .intro .centered {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
/* line 25, ../sass/_header.scss */
header .intro .centered .inline, header .intro .centered .block {
  font-size: 1.2rem;
  margin: 0;
  line-height: 2;
  text-align: center;
}
/* line 31, ../sass/_header.scss */
header .intro .centered .inline.big, header .intro .centered .block.big {
  font-size: 2rem;
}
/* line 36, ../sass/_header.scss */
header .intro .centered .inline {
  display: inline-block;
}
/* line 40, ../sass/_header.scss */
header .intro .centered .block {
  display: block;
}
/* line 45, ../sass/_header.scss */
header .intro button {
  background-color: transparent;
  border: 2px solid #ECEFF1;
  padding: 10px 20px;
  color: #ECEFF1;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
/* line 54, ../sass/_header.scss */
header .intro button:hover {
  cursor: pointer;
}
/* line 61, ../sass/_header.scss */
header .next {
  width: 40px;
  height: 40px;
  position: absolute;
  left: calc(50% - 20px);
  bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}
/* line 72, ../sass/_header.scss */
header .next i {
  color: #455A64;
  transition: color ease 300ms;
}
/* line 77, ../sass/_header.scss */
header .next i:hover {
  color: #263238;
}

/* Le menu principal */
/* line 2, ../sass/_menu.scss */
nav {
  background-color: #ECEFF1;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0 0 5px 5px rgba(69, 90, 100, 0.15);
}
/* line 12, ../sass/_menu.scss */
nav .brand {
  position: relative;
}
/* line 15, ../sass/_menu.scss */
nav .brand .current-section {
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  color: #B0BEC5;
  height: 60px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  transition: color ease 300ms;
}
/* line 28, ../sass/_menu.scss */
nav .brand .hamburger {
  position: absolute;
  width: 30px;
  height: 31px;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 40, ../sass/_menu.scss */
nav .brand .hamburger div {
  position: absolute;
  background-color: #455A64;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  left: 0;
  transition: background-color .2s ease, top .2s ease, bottom .2s ease;
}
/* line 51, ../sass/_menu.scss */
nav .brand .hamburger div:nth-child(1) {
  top: 4px;
}
/* line 55, ../sass/_menu.scss */
nav .brand .hamburger div:nth-child(2) {
  top: calc(50% - 3px);
}
/* line 59, ../sass/_menu.scss */
nav .brand .hamburger div:nth-child(3) {
  bottom: 4px;
}
/* line 64, ../sass/_menu.scss */
nav .brand .hamburger:hover div {
  background-color: #FF5722;
}
/* line 68, ../sass/_menu.scss */
nav .brand .hamburger:hover div:nth-child(1) {
  top: 2px;
}
/* line 72, ../sass/_menu.scss */
nav .brand .hamburger:hover div:nth-child(3) {
  bottom: 2px;
}
/* line 79, ../sass/_menu.scss */
nav ul {
  display: none;
  list-style: none;
  padding: 0;
}
/* line 84, ../sass/_menu.scss */
nav ul li {
  text-align: center;
}
/* line 87, ../sass/_menu.scss */
nav ul li a {
  color: #ECEFF1;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 3rem;
  transition: color ease 500ms;
}
/* line 97, ../sass/_menu.scss */
nav ul li a:hover {
  color: #FF5722;
}
/* line 105, ../sass/_menu.scss */
nav.opened .current-section {
  color: #ECEFF1;
}
/* line 110, ../sass/_menu.scss */
nav.opened .hamburger div {
  background-color: #FF5722;
}
/* line 114, ../sass/_menu.scss */
nav.opened .hamburger div:nth-child(1) {
  top: 2px;
}
/* line 118, ../sass/_menu.scss */
nav.opened .hamburger div:nth-child(3) {
  bottom: 2px;
}
/* line 123, ../sass/_menu.scss */
nav.opened ul > li > a {
  color: #455A64;
}

@media screen and (min-width: 680px) {
  /* Le menu principal */
  /* line 131, ../sass/_menu.scss */
  nav {
    height: 140px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #ECEFF1;
    box-shadow: 0 0 5px 5px transparent;
    transition: height ease 300ms, box-shadow ease 300ms;
    /* Le curseur en dessous du menu */
    /* Lorsque le menu est en 'small' en haut de la fenêtre */
  }
  /* line 141, ../sass/_menu.scss */
  nav .brand {
    display: none;
  }
  /* line 145, ../sass/_menu.scss */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 100%;
  }
  /* line 156, ../sass/_menu.scss */
  nav ul li a {
    padding: 20px;
    color: #37474F;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  /* line 164, ../sass/_menu.scss */
  nav ul li a.current {
    font-weight: 500;
  }
  /* line 168, ../sass/_menu.scss */
  nav ul li a:hover {
    color: #37474F;
  }
  /* line 176, ../sass/_menu.scss */
  nav .cursor {
    width: 100px;
    height: 4px;
    background-color: #FF5722;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left ease 300ms, bottom ease 300ms, width ease 300ms;
  }
  /* line 188, ../sass/_menu.scss */
  nav.small {
    height: 70px;
    box-shadow: 0 0 5px 5px rgba(69, 90, 100, 0.1);
    bottom: 20px;
  }
}
/* La partie à propos de la page */
/* line 2, ../sass/_about.scss */
.about {
  background-color: #26A69A;
  padding: 100px 20px;
  color: #37474F;
  font-weight: 400;
  font-size: 1.2rem;
}
/* line 9, ../sass/_about.scss */
.about .group {
  display: block;
  width: 100%;
}
/* line 13, ../sass/_about.scss */
.about .group:not(:first-child) > * {
  padding: 40px 0;
}
/* line 17, ../sass/_about.scss */
.about .group:not(:last-child) > * {
  padding: 40px 0;
}
/* line 21, ../sass/_about.scss */
.about .group .cell {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
/* line 26, ../sass/_about.scss */
.about .group .cell img, .about .group .cell p {
  text-align: center;
  width: calc(100% - 40px);
  margin: 0 20px;
}
/* line 32, ../sass/_about.scss */
.about .group .cell p {
  background-color: #00897B;
  border-radius: 3px;
  padding: 15px 20px;
  color: #ECEFF1;
  width: calc(100% - 80px);
  font-size: 1.1rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 680px) {
  /* line 46, ../sass/_about.scss */
  .about {
    padding: 100px 20px;
    display: table;
  }
  /* line 50, ../sass/_about.scss */
  .about .group {
    display: table-row;
    width: 100%;
  }
  /* line 54, ../sass/_about.scss */
  .about .group .cell {
    display: table-cell;
    width: 50%;
  }
}
@media screen and (min-width: 860px) {
  /* line 63, ../sass/_about.scss */
  .about {
    padding: 100px 15%;
  }
}
/* La partie projets de la page */
/* line 2, ../sass/_projects.scss */
.projects {
  background-color: #ECEFF1;
  padding: 60px 10px;
}
/* line 6, ../sass/_projects.scss */
.projects .filters, .projects .pagination {
  text-align: center;
}
/* line 10, ../sass/_projects.scss */
.projects .filters {
  display: none;
  margin: 40px 10px;
  width: calc(100% - 20px);
}
/* line 15, ../sass/_projects.scss */
.projects .filters button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  padding: 8px;
  outline: none;
  margin: 5px;
  position: relative;
  transition: color ease 300ms;
}
/* line 26, ../sass/_projects.scss */
.projects .filters button::after {
  content: "";
  position: absolute;
  background-color: #FF5722;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: width ease 300ms;
}
/* line 39, ../sass/_projects.scss */
.projects .filters button.selected, .projects .filters button:hover {
  color: #FF5722;
}
/* line 42, ../sass/_projects.scss */
.projects .filters button.selected::after, .projects .filters button:hover::after {
  width: 100%;
}
/* line 47, ../sass/_projects.scss */
.projects .filters button.selected {
  cursor: default;
}
/* line 54, ../sass/_projects.scss */
.projects .gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 59, ../sass/_projects.scss */
.projects .gallery ul .item {
  width: calc(100% - 20px);
  background-color: #455A64;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
}
/* line 67, ../sass/_projects.scss */
.projects .gallery ul .item a {
  display: block;
  width: calc(100% - 20px);
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 5px;
}
/* line 76, ../sass/_projects.scss */
.projects .gallery ul .item a:hover::after {
  opacity: 1;
}
/* line 80, ../sass/_projects.scss */
.projects .gallery ul .item a::after {
  content: "+";
  background-color: rgba(38, 50, 56, 0.5);
  width: 500px;
  height: 500px;
  display: block;
  position: absolute;
  text-align: center;
  line-height: 500px;
  vertical-align: middle;
  opacity: 0;
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity ease 300ms;
}

@media screen and (min-width: 680px) {
  /* line 108, ../sass/_projects.scss */
  .projects .custom-select {
    display: none;
  }
}
@media screen and (min-width: 540px) {
  /* line 116, ../sass/_projects.scss */
  .projects .filters {
    display: inline-block;
  }
  /* line 122, ../sass/_projects.scss */
  .projects .gallery ul .item {
    width: calc(50% - 20px);
  }
  /* line 125, ../sass/_projects.scss */
  .projects .gallery ul .item a {
    padding-bottom: 30%;
    min-height: 100px;
  }
}
@media screen and (min-width: 800px) {
  /* line 136, ../sass/_projects.scss */
  section.projects {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 142, ../sass/_projects.scss */
  section.projects .gallery ul .item {
    width: calc(33.33% - 40px);
  }
  /* line 145, ../sass/_projects.scss */
  section.projects .gallery ul .item a {
    padding-bottom: 25%;
    min-height: 100px;
  }
}
/* La partie projets de la page */
/* line 2, ../sass/_projects_content.scss */
.overlay {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 0;
  height: 0;
  background-color: #ECEFF1;
  transform: translate(-50%, -50%);
  z-index: 200;
  overflow: hidden;
}
/* line 13, ../sass/_projects_content.scss */
.overlay.show {
  width: 100vw;
  height: 100vh;
}

/* line 19, ../sass/_projects_content.scss */
.project-content {
  width: 100vw;
  height: 100vh;
  color: #263238;
  opacity: 0;
  z-index: -9999;
  font-size: 1rem;
  position: relative;
}
/* line 28, ../sass/_projects_content.scss */
.project-content.show {
  opacity: 1;
}
/* line 32, ../sass/_projects_content.scss */
.project-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #B0BEC5;
  margin: 15px;
  transition: color 300ms ease;
}
/* line 42, ../sass/_projects_content.scss */
.project-content .close:hover {
  color: #455A64;
}
/* line 48, ../sass/_projects_content.scss */
.project-content .table .picture {
  display: none;
  text-align: center;
}
/* line 52, ../sass/_projects_content.scss */
.project-content .table .picture img {
  max-width: calc(100% - 20px);
  max-height: 380px;
}
/* line 58, ../sass/_projects_content.scss */
.project-content .table .content {
  padding: 10px 0;
  height: calc(100% - 280px);
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 64, ../sass/_projects_content.scss */
.project-content .table .content > * {
  padding: 10px 20px;
  width: calc(100% - 40px);
  display: block;
  margin: 0;
}
/* line 71, ../sass/_projects_content.scss */
.project-content .table .content h3 {
  font-size: 1.5rem;
  width: calc(100% - 100px);
  padding-right: 100px;
}
/* line 77, ../sass/_projects_content.scss */
.project-content .table .content .like {
  color: #263238;
  cursor: pointer;
  display: inline;
}
/* line 82, ../sass/_projects_content.scss */
.project-content .table .content .like i {
  margin-right: 10px;
  transition: color 300ms ease;
}
/* line 89, ../sass/_projects_content.scss */
.project-content .table .content .like.youlike i {
  color: #FF5722;
}
/* line 95, ../sass/_projects_content.scss */
.project-content .table .content .company {
  font-weight: 400;
  margin-bottom: 10px;
}
/* line 100, ../sass/_projects_content.scss */
.project-content .table .content .description {
  background-color: white;
  padding: 20px;
}
/* line 105, ../sass/_projects_content.scss */
.project-content .table .content a {
  text-decoration: none;
  color: #263238;
  transition: color 300ms ease;
}
/* line 111, ../sass/_projects_content.scss */
.project-content .table .content a:hover {
  color: #FF5722;
}
/* line 115, ../sass/_projects_content.scss */
.project-content .table .content a.website {
  color: #FF5722;
}
/* line 119, ../sass/_projects_content.scss */
.project-content .table .content a.website:hover {
  color: #E64A19;
}
/* line 126, ../sass/_projects_content.scss */
.project-content .table .content .tags li {
  display: inline-block;
  margin: 0;
}
/* line 134, ../sass/_projects_content.scss */
.project-content .gallery {
  width: 100%;
  background-color: #26A69A;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 142, ../sass/_projects_content.scss */
.project-content .gallery .container {
  overflow: scroll;
}
/* line 145, ../sass/_projects_content.scss */
.project-content .gallery .container ul {
  display: table;
  white-space: nowrap;
  list-style: none;
  padding: 0;
  border-collapse: separate;
  border-spacing: 20px;
  margin: auto;
}
/* line 154, ../sass/_projects_content.scss */
.project-content .gallery .container ul li {
  display: table-cell;
}
/* line 157, ../sass/_projects_content.scss */
.project-content .gallery .container ul li img {
  display: block;
  height: 120px;
}

@media screen and (min-width: 680px) {
  /* line 168, ../sass/_projects_content.scss */
  .project-content > .table {
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
    height: calc(100% - 180px);
    padding: 0 20px;
  }
  /* line 175, ../sass/_projects_content.scss */
  .project-content > .table .picture, .project-content > .table .content {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  /* line 181, ../sass/_projects_content.scss */
  .project-content > .table .content > .description {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
  }
  /* line 187, ../sass/_projects_content.scss */
  .project-content > .table .content > .description::after, .project-content > .table .content > .description::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    left: 0;
  }
  /* line 195, ../sass/_projects_content.scss */
  .project-content > .table .content > .description::after {
    top: 0;
    background-image: linear-gradient(white, transparent);
  }
  /* line 200, ../sass/_projects_content.scss */
  .project-content > .table .content > .description::before {
    bottom: 0;
    background-image: linear-gradient(transparent, white);
  }
  /* line 205, ../sass/_projects_content.scss */
  .project-content > .table .content > .description .text {
    max-height: 250px;
    overflow-y: scroll;
    padding: 20px;
  }
}
/* La partie compétences de la page */
/* line 2, ../sass/_skills.scss */
.skills {
  background-color: #FF5722;
  padding: 60px 10px;
}
/* line 6, ../sass/_skills.scss */
.skills ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
/* line 11, ../sass/_skills.scss */
.skills ul .tooltip {
  width: 50%;
  display: inline-block;
  margin: 20px 0;
  position: relative;
}
/* line 17, ../sass/_skills.scss */
.skills ul .tooltip h3 {
  color: #ECEFF1;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
/* line 25, ../sass/_skills.scss */
.skills ul .tooltip p {
  background-color: #263238;
  border-radius: 5px;
  color: #ECEFF1;
  padding: 10px 15px;
  font-weight: 400;
  line-height: 1.2rem;
  position: absolute;
  display: none;
  width: 75%;
  z-index: 30;
  opacity: 0;
}
/* line 38, ../sass/_skills.scss */
.skills ul .tooltip p.top, .skills ul .tooltip p.bottom {
  left: 50%;
  transform: translateX(-50%);
}
/* line 42, ../sass/_skills.scss */
.skills ul .tooltip p.top::after, .skills ul .tooltip p.bottom::after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 50%;
  transform: translateX(-50%);
}
/* line 50, ../sass/_skills.scss */
.skills ul .tooltip p.top {
  bottom: 50px;
}
/* line 53, ../sass/_skills.scss */
.skills ul .tooltip p.top::after {
  border-top: 10px solid #263238;
  top: 100%;
}
/* line 59, ../sass/_skills.scss */
.skills ul .tooltip p.bottom {
  top: 50px;
}
/* line 62, ../sass/_skills.scss */
.skills ul .tooltip p.bottom::after {
  border-bottom: 10px solid #263238;
  top: -10px;
}
/* line 68, ../sass/_skills.scss */
.skills ul .tooltip p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (min-width: 680px) {
  /* line 81, ../sass/_skills.scss */
  .skills ul > .tooltip {
    width: 33.333%;
  }
}
@media screen and (min-width: 800px) {
  /* line 89, ../sass/_skills.scss */
  .skills ul > .tooltip {
    width: 25%;
  }
}
/* line 1, ../sass/_footer.scss */
footer {
  background-color: #263238;
  color: #ECEFF1;
  /* Le formulaire de contact */
  /* Les réseaux sociaux */
  /* Les mentions */
}
/* line 6, ../sass/_footer.scss */
footer .contact {
  /*display: flex;
  justify-content: space-around;
  flex-wrap: wrap;*/
  padding: 40px 60px 20px;
  max-width: 800px;
  margin: auto;
}
/* line 14, ../sass/_footer.scss */
footer .contact h2 {
  font-weight: 400;
  text-align: center;
  line-height: 2.2rem;
}
/* line 22, ../sass/_footer.scss */
footer .contact .column {
  display: inline-block;
  width: 100%;
  overflow: auto;
}
/* line 27, ../sass/_footer.scss */
footer .contact .column .group {
  width: 100%;
  overflow: auto;
  padding-bottom: 30px;
  position: relative;
  margin: 30px 0;
}
/* line 34, ../sass/_footer.scss */
footer .contact .column .group label {
  display: block;
  margin-bottom: 10px;
}
/* line 39, ../sass/_footer.scss */
footer .contact .column .group input, footer .contact .column .group textarea {
  display: block;
  background-color: transparent;
  border: 1px solid #455A64;
  color: #ECEFF1;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  width: 100%;
  transition: border-color ease 300ms;
}
/* line 52, ../sass/_footer.scss */
footer .contact .column .group input:focus, footer .contact .column .group textarea:focus {
  border-color: #ECEFF1;
}
/* line 57, ../sass/_footer.scss */
footer .contact .column .group input {
  height: 30px;
}
/* line 61, ../sass/_footer.scss */
footer .contact .column .group textarea {
  padding: 10px;
  height: 140px;
  max-height: 140px;
  max-width: 100%;
}
/* line 68, ../sass/_footer.scss */
footer .contact .column .group button {
  display: block;
  background-color: transparent;
  border: 2px solid #26A69A;
  margin: 0;
  padding: 10px 30px;
  font-size: 1rem;
  color: #ECEFF1;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  transition: background-color ease 300ms;
}
/* line 82, ../sass/_footer.scss */
footer .contact .column .group button:hover {
  background-color: #26A69A;
}
/* line 87, ../sass/_footer.scss */
footer .contact .column .group p.form-error {
  color: #FF5722;
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}
/* line 97, ../sass/_footer.scss */
footer .contact .column .group:last-child {
  margin-bottom: 0;
}
/* line 105, ../sass/_footer.scss */
footer .social {
  background-color: #ECEFF1;
  padding: 30px 10px 60px;
}
/* line 109, ../sass/_footer.scss */
footer .social h2 {
  color: #FF5722;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* line 116, ../sass/_footer.scss */
footer .social ul {
  display: table;
  list-style: none;
  width: 100%;
  padding: 0;
}
/* line 122, ../sass/_footer.scss */
footer .social ul li {
  display: table-cell;
  width: 33.33%;
  text-align: center;
}
/* line 127, ../sass/_footer.scss */
footer .social ul li i {
  color: #B0BEC5;
  transition: color ease 600ms;
}
/* line 132, ../sass/_footer.scss */
footer .social ul li i:hover {
  color: #78909C;
}
/* line 141, ../sass/_footer.scss */
footer .mentions {
  background-color: #26A69A;
  padding: 20px 10px;
  text-align: center;
  color: #263238;
  font-weight: 500;
  line-height: 1.5rem;
}
/* line 149, ../sass/_footer.scss */
footer .mentions div {
  display: inline-block;
}

@media screen and (min-width: 680px) {
  /* line 157, ../sass/_footer.scss */
  footer .contact > .container {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 40px;
  }
  /* line 163, ../sass/_footer.scss */
  footer .contact > .container .column {
    display: table-cell;
    width: 50%;
  }
  /* line 169, ../sass/_footer.scss */
  footer .social {
    padding: 30px 10% 60px;
  }
}
@media screen and (min-width: 900px) {
  /* line 177, ../sass/_footer.scss */
  footer .social {
    padding: 30px 20% 60px;
  }
}
