header {
  background-color: $white;
  color: $gray;
  height: 90vh;
  position: relative;

  h2 {
    display: none;
  }

  /* Le text d'introduction */
  .intro {
    display: table;
    font-weight: 400;
    padding: 0 10px;
    width: calc(100% - 20px);
    height: 100%;

    .centered {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      text-align: center;

      .inline, .block {
        font-size: 1.2rem;
        margin: 0;
        line-height: 2;
        text-align: center;

        &.big {
          font-size: 2rem;
        }
      }

      .inline {
        display: inline-block;
      }

      .block {
        display: block;
      }
    }

    button {
      background-color: transparent;
      border: 2px solid $white;
      padding: 10px 20px;
      color: $white;
      font-family: $font-stack;
      font-size: 1rem;
      font-weight: 500;

      &:hover {
        cursor: pointer;
      }
    }
  }

  /* La flèche pour descendre */
  .next {
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
    bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;

    i {
      color: $gray;

      transition: color ease 300ms;

      &:hover {
        color: $black;
      }
    }
  }
}