main {
  background-color: $ltgray;

  /* La partie projets de la page */
  section.projects {
    background-color: $dkgray;
    padding: 80px;

    div.filters, div.pagination {
      text-align: center;
    }

    div.container {
      article {
        background-color: $white;
        padding: 15px;
        box-sizing: border-box;

        img {
          width: 100%;

          filter: brightness(1.3) contrast(1.2) grayscale(0) hue-rotate(0deg) invert(0.1) saturate(1.8) sepia(0);
          -webkit-filter: brightness(1) contrast(1.2) grayscale(0) hue-rotate(0deg) invert(0.1) saturate(1.8) sepia(0);
        }

        h2, p, button {
          font-weight: 400;
          margin: 10px 0;
          display: block;
        }

        h2 {
          font-size: 1.4rem;
          color: $red;
        }

        p {
          font-size: .8rem;
          text-transform: uppercase;
        }

        button {
          background-color: $green;
          border: none;
          padding: 10px;
          font-size: .8rem;
          font-weight: 400;
          text-transform: uppercase;
          color: $white;
          margin: auto;
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }

  /* La partie à propos de la page */
  section.about {
    background-color: $ltwhite;
    padding: 100px 10%;
    color: $dkgray;
    font-weight: 400;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img, p {
      width: 50%;
      text-align: center;
      margin: 20px 0;
    }
  }

  /* La partie compétences de la page */
  section.skills {
    background-color: $red;
    display: flex;
    justify-content: center;
    padding: 80px 120px;
    flex: 1 100%;
    flex-wrap: wrap;

    article {
      width: 15%;
      text-align: center;
      margin: 40px;

      img.logo, i {
        width: 100px;
        height: 100px;
        background-color: $white;
        border-radius: 50%;
        margin-bottom: 15px;
        border: 5px solid $dkred;
      }

      i {
        line-height: 100px;
        color: $black;
      }

      h2 {
        color: $white;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
    }
  }
}