/* La partie compétences de la page */
.skills {
  background-color: $orange;
  padding: 60px 10px;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    .tooltip {
      width: 50%;
      display: inline-block;
      margin: 20px 0;
      position: relative;

      .title {
        color: $white;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        outline: none;
      }

      .content {
        background-color: $black;
        border-radius: 5px;
        color: $white;
        padding: 10px 15px;
        font-weight: 400;
        line-height: 1.2rem;
        position: absolute;
        display: none;
        width: 75%;
        z-index: 30;
        opacity: 0;

        &.top, &.bottom {
          left: 50%;
          transform: translateX(-50%);

          &::after {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &.top {
          bottom: 50px;

          &::after {
            border-top: 10px solid $black;
            top: 100%;
          }
        }

        &.bottom {
          top: 50px;

          &::after {
            border-bottom: 10px solid $black;
            top: -10px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 680px) {
  .skills {
    ul > .tooltip {
      width: 33.333%;
    }
  }
}

@media screen and (min-width: 800px) {
  .skills {
    ul > .tooltip {
      width: 25%;
    }
  }
}