/* Variables du projet */
$orange: #FF5722;
$dkorange: #E64A19;
$ltwhite: white;
$white: #ECEFF1;
$white-gray: #B0BEC5;
$ltgray: #78909C;
$gray: #455A64;
$dkgray: #37474F;
$black: #263238;
$green: #26A69A;
$dkgreen: #00897B;

$font-stack: Roboto, Arial, sans-serif;