/* Variables du projet */
$red: #e14b3c;
$dkred: #b03f30;
$ltwhite: #f2f2f2;
$white: #dfe1e1;
$white-gray: #c2c2c2;
$ltgray: #696969;
$gray: #414141;
$dkgray: #2e2e2e;
$black: #1e1e1e;
$green: #24ad56;

$font-stack: Roboto, Arial, sans-serif;